header {
  background-color: aqua;
  text-align: center;
  text-transform: capitalize;
  padding-top: 50px;
  padding-bottom: 50px;
}
h1 {
    font-size: 100px;
}
.side {
    height: 100%;
    background-color: coral;
    padding-bottom: 15%;
    text-transform: capitalize;
}

.side a {
    font-size: 20px;
    color: white;
    text-transform: capitalize;
}
.side a:hover {
    color: blue;
}
.content {
  text-align: left;
}
h3 {
  color: aqua;
}
.side p {
  color: white;
}
body {
  background-color: lightgreen;
}
